$background: #FAFBFF;
$color: #000000;
$color-white: #FFFFFF;
$color-purple: #5932EA;
$color-mint: #16C098;
$color-green: #008767;
$color-grey: #9197B3;
$color-gray: #B5B7C0;
$color-shadow: rgba(226, 236, 249, 0.50);